@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Noto Sans Arabic", sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #32CD32;
}

.act {
  height: 30rem;
}

.img-act {
  margin-right: 395px;
  height: 30rem;
}


@layer base {
  .circle {
    @apply block w-[32px] h-[32px] rounded-full border-[4px] border-primary
  }
  .line {
    @apply block w-[70px] md:w-[140px] h-[4px] bg-primary
  }
  .form-radio {
    @apply appearance-none rounded-full w-4 h-4 border border-primary bg-white checked:bg-primary checked:border-primary focus:outline-none transition duration-300 cursor-pointer;
  }
}